doctype html
html

  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title=title

    link(rel="dns-prefetch" href="https://fonts.googleapis.com")
    link(href="/assets/index.css", rel="stylesheet", type="text/css")

  body
    main.container
      sections.contents
        h1.contents__h1 Netfliques
        form.contents__form.js-form
          input.form__search-input(type='text' name='searchQuery' placeholder='Search for a genre')
        ul.contents--list
          each genre in genreList
            - const normalisedName = genre[1].toLowerCase();
            li.list__element.js-list-elements(data-id=genre[0] data-name=normalisedName)
              - const url = `https://www.netflix.com/browse/genre/${genre[0]}`;
              a.list__link(href=url target='_blank') #{genre[1]}

    script.
      window.app = {
        genreList: !{JSON.stringify(genreList)}
      };
    script(src="/assets/index.js")
